mat-card {
  border-radius: 40px;
  position: relative;
  top: 12em;
  height: 360px;
}
label.form-label {
  color: #000000;
  font-size: 20px;
}
form {
  input {
    border: 1px solid;
  }
}

h1.text-xs-center {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
}

p.text-xs-center {
  font-size: 20px;
  a {
    color: black;
  }
}
