<div class="Background">
  <img [src]="Background" />
</div>
<div class="container page">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <mat-card>
        <form>
          <h1 class="text-xs-center">Welcome</h1>
          <div class="card-body">
            <div class="mb-3">
              <p class="text-xs-center">
                Link has sent on your Registered Email. Please verify it.
              </p>
              <div class="Login-Button">
                <p class="text-xs-center">
                  <a [routerLink]="['/login']">If Account is Verified</a>
                </p>
              </div>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
