@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&family=Roboto&display=swap");

// Background in Register
.Background {
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

h1.text-xs-center {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
}

mat-card {
  background: linear-gradient(
    135.81deg,
    #8f98ff 0%,
    rgba(217, 217, 217, 0) 165.11%
  );
  border-radius: 45px;
  position: relative;
  top: 12em;
  height: 250px;
}

// Already Have An Account
.Login-Link {
  p {
    a {
      color: black;
      font-weight: 400;
      font-size: 20px;
    }
  }
}
.Login-Button {
  p {
    a {
      color: black;
      font-weight: 400;
      font-size: 18px;
      top: 1em;
      position: relative;
      float: left;
    }
  }
}

label.form-label {
  color: #000000;
  font-size: 20px;
}
form {
  input {
    border: 1px solid;
  }
}

.b-3 {
  a {
    font-size: 20px;
  }
}

button.btn.btn-primary {
  width: 110px;
  top: 0.8em;
  right: 1.2em;
  position: relative;
}
